<!-- <footer class="footer">
    <p>&copy; <%= new Date().getFullYear() %> Admin Panel</p>
</footer> -->

<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col-sm my-1">
                <p class="m-0"># &#9829; crafted by Team <a href="#"
                        target="_blank">#</a> Distributed by <a href="#">#</a>
                </p>
            </div>
            <!-- <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                    <li class="list-inline-item"><a
                            href="#">Home</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>