<div class="modal modal-extra-large" id="organisation_create_modal">
    <div class="modal-header">
        <h3>Add Organisation</h3>
        <button type="button" class="close">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_7_7)">
                    <path d="M25.5 8.5L8.5 25.5" stroke="#DADADA" stroke-width="2.125" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M9 9L26 26" stroke="#DADADA" stroke-width="2.125" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_7_7">
                        <rect width="34" height="34" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </button>
    </div>
    <form id="organisation_create_form" class="modal-body" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="org_name">Organisation/School Name</label>
                        <input class="form-control" type="text" name="org_name" id="org_name"
                            placeholder="Organisation / School name...">
                        <p class="validate_error text-danger" id="org_name_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Organiser Name</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Organiser Name...">
                        <p class="validate_error text-danger" id="name_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="mobile">Mobile Number</label>
                        <input class="form-control" type="text" name="mobile" id="mobile"
                            placeholder="Mobile number...">
                        <p class="validate_error text-danger" id="mobile_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Enter email">
                        <p class="validate_error text-danger" id="email_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="profile_image">Profile Image</label>
                        <input class="form-control" accept=".png,.jpg,.jpeg,.webp" type="file" name="profile_image"
                            id="profile_image">
                        <p class="validate_error text-danger" id="profile_image_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <select name="subject[]" multiple id="subject" class="form-control">
                            <option value="">Select Subject</option>
                        </select>
                        <p class="validate_error text-danger" id="subject_error"></p>
                    </div>
                </div>
            </div>

            <!-- dynamic row start -->

            <div id="rowContainer">
                <div class="row form-row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Standard</label>
                            <select name="org_details[0][standard]" class="form-control standard-dropdown">
                                <option value="">Select Standard</option>
                            </select>
                            <p class="validate_error text-danger"></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Section</label>
                            <select name="org_details[0][section]" class="form-control section-dropdown">
                                <option value="">Select Section</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                            </select>
                            <p class="validate_error text-danger"></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Level</label>
                            <select name="org_details[0][level]" class="form-control level-dropdown">
                                <option value="">Select Level</option>
                                <% for (let i=1; i <=lvlftopic.levels; i++) { %>
                                    <option value="<%= i %>">
                                        <%= i %>
                                    </option>
                                    <% } %>
                            </select>
                            <p class="validate_error text-danger"></p>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Student Count</label>
                            <input class="form-control" type="number" name="org_details[0][student_count]"
                                placeholder="Enter count">
                            <p class="validate_error text-danger"></p>
                        </div>
                    </div>
                    <div class="col-sm-1 d-flex align-items-end">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger" data-remove-btn>-</button>
                            <button type="button" class="btn btn-success" data-add-btn>+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="options">
                    <button class="cancel" type="button">Cancel</button>
                    <button class="submit form-submit-button" id="organisation_create_btn" type="submit">Submit</button>
                </div>
            </div>


        </div>
    </form>
</div>