<% if (typeof title !=='undefined' ) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { %>
        <h1>Fefdy</h1>
        <% } %>

        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-end">
                    <button class="btn btn-info" onclick="OpenModal('category_create_modal')"><span><i
                                class="ti ti-code-plus px-1"></i><span>Add category</span></span></button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="category-table">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Category Name</th>
                                <th>Thumbnail</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--  -->
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
        <%- include('./create_modal.ejs') %>
        <%- include('./edit_modal.ejs') %>