<div class="modal modal-extra-large" id="users_edit_modal">
    <div class="modal-header">
        <h3>Edit Users </h3>
        <button type="button" class="close">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_7_7)">
                    <path d="M25.5 8.5L8.5 25.5" stroke="#DADADA" stroke-width="2.125" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M9 9L26 26" stroke="#DADADA" stroke-width="2.125" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_7_7">
                        <rect width="34" height="34" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </button>
    </div>
    <form id="users_edit_form" class="modal-body" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit_org_id">Organisation</label>
                        <select name="edit_org_id" id="edit_org_id" class="form-control">
                            <option value="">No data found</option>
                        </select>
                        <p class="validate_error text-danger" id="edit_org_id_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit_name">Name</label>
                        <input class="form-control" type="text" name="edit_name" id="edit_name" placeholder="Name...">
                        <p class="validate_error text-danger" id="edit_name_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit_email">Email Address</label>
                        <input class="form-control" type="email" name="edit_email" id="edit_email"
                            placeholder="Email Address...">
                        <p class="validate_error text-danger" id="edit_email_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit_mobile">Phone Number</label>
                        <input class="form-control" type="text" name="edit_mobile" id="edit_mobile"
                            placeholder="mobile number...">
                        <p class="validate_error text-danger" id="edit_mobile_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit_username">User Name</label>
                        <input class="form-control" type="text" name="edit_username" id="edit_username"
                            placeholder="User Name...">
                        <p class="validate_error text-danger" id="edit_username_error"></p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit_password">Password</label>
                        <input class="form-control" type="password" name="edit_password" id="edit_password"
                            placeholder="password">
                        <p class="validate_error text-danger" id="edit_password_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit_standard">Standard</label>
                        <select name="edit_standard" id="edit_standard" class="form-control">
                            <option value="">No data found</option>
                        </select>
                        <p class="validate_error text-danger" id="edit_standard_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label id="edit_section">Section</label>
                        <select name="edit_section" id="edit_section" class="form-control edit_section-dropdown">
                            <option value="">Select Section</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                        <p class="validate_error text-danger" id="edit_section_error"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit_profile_image">Profile pictures</label>
                        <input type="file" accept=".jpg,.jpeg,.png,.webp" class="form-control" name="edit_profile_image"
                            id="edit_profile_image">
                        <p class="validate_error text-danger" id="edit_profile_image_error"></p>
                        <a target="_blank">View file...</a>
                        <input type="hidden" name="edit_id" id="edit_id">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="options">
                    <button class="cancel" type="button">Cancel</button>
                    <button class="submit form-submit-button" id="users_edit_btn" type="submit">Submit</button>
                </div>
            </div>


        </div>
    </form>
</div>