<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Test Template</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      p{
        color: #8a92aa
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <h4>Test Template</h4>
            <p>This is a test template from Fefdy Brain Gym</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
