<div class="modal" id="topics_edit_modal">
    <div class="modal-header">
        <h3>Edit Topics</h3>
        <button type="button" class="close">
            <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_7_7)">
                    <path d="M25.5 8.5L8.5 25.5" stroke="#DADADA" stroke-width="2.125" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M9 9L26 26" stroke="#DADADA" stroke-width="2.125" stroke-linecap="round"
                        stroke-linejoin="round" />
                </g>
                <defs>
                    <clipPath id="clip0_7_7">
                        <rect width="34" height="34" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </button>
    </div>

    <form id="topics_edit_form" class="modal-body" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="edit_subject">Subject</label>
                        <select name="edit_subject" id="edit_subject" class="form-control">
                            <option value="">Select Subject</option>
                            <% subjects.forEach(function(subject) { %>
                                <option value="<%= subject.id %>">
                                    <%= subject.subject %>
                                </option>
                                <% }); %>
                        </select>
                        <p class="validate_error text-danger" id="edit_subject_error"></p>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="edit_title">Title</label>
                            <input class="form-control" type="text" name="edit_title" id="edit_title">
                            <p class="validate_error text-danger" id="edit_title_error"></p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="edit_subject">Description</label>
                            <textarea class="form-control" rows="1" name="edit_description"
                                id="edit_description"></textarea>
                            <p class="validate_error text-danger" id="edit_description_error"></p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="thumbnail">Thumbnail</label>
                            <input type="file" accept=".jpg,.jpeg,.png,.webp" class="form-control" name="edit_thumbnail"
                                id="edit_thumbnail">
                            <a target="_blank">View File...</a>
                            <p class="validate_error text-danger" id="edit_thumbnail_error"></p>
                            <input type="hidden" name="edit_id" id="edit_id">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="edit_levels">Levels</label>
                            <input class="form-control" type="number" name="edit_levels" id="edit_levels">
                            <p class="validate_error text-danger" id="edit_levels_error"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="options">
                <button class="cancel" type="button">Cancel</button>
                <button class="submit form-submit-button" id="topics_edit_btn" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>