<% if (typeof title !=='undefined' ) { %>
<h1><%= title %></h1>
<% } else { %>
<h1>Fefdy</h1>
<% } %>

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <form id="levellist_create_form" class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="level">Level List</label>
                  <input
                    type="text"
                    class="form-control"
                    name="level"
                    id="level"
                  />
                  <p class="validate_error text-danger" id="level_error"></p>
                </div>
              </div>
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <label for="game_templates">Game Templates</label>
                  <select name="game_templates[]" multiple class="form-control" id="game_templates">
                    <option value="">Select Template</option>
                  </select>
                  <p class="validate_error text-danger" id="game_templates_error"></p>
                </div>
              </div> -->

              <div class="col-sm-4 text-center">
                <div class="form-group mt-4">
                  <button type="submit" class="btn btn-info form-submit-button">
                    Add Level
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <!--<div class="card-header">-->
    <!--</div>-->
    <div class="card-body">
      <table class="table table-bordered table-striped" id="levelslist-table">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Level</th>
            <th>Actions</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="card"><%- include('./edit_modal.ejs') %></div>
</div>
